<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

    {{{body}}}

</body>
</html>